@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons";

@import "global";

@import "./components/product-list";
@import "./components/product-detail";

$color_1: #111111;
$color_2: #eeeeee;
$color_3: #fff;
$color_4: #081624;
$color_5: #a3a1b3;
$color_6: #fff;
$color_7: #a3a1b3;
$color_8: #000;
$color_9: rgba(255, 255, 255, 0.4);
$color_10: #68647d;
$color_11: #a3a1b3;
$color_12: #251e2f;
$color_13: #fff;
$color_14: #a3a1b3;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: transparent;

/* =================================
------------------------------------
  EndGam - Gaming Magazine Template
  Version: 1.0
 ------------------------------------
 ====================================*/
/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
/*---------------------
  Helper CSS
-----------------------*/
/*---------------------
  Commom elements
-----------------------*/
/* buttons */
/* Preloder */
@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}
@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}
/*------------------
  Header section
---------------------*/
.multi-header {
    background: url("../img/multiple.jpg");
    background-size: 100% 100%;
}

/*------------------
  Hero section
---------------------*/
/* ----------------
  Intro section
---------------------*/
/* ----------------
 Blog Section
---------------------*/
/* --------------------
  Intro video section
-----------------------*/
/* ----------------
  Featured section
---------------------*/
/* --------------------
  Newsletter section
----------------------*/
/* ----------------
  Footer section
---------------------*/
footer {
    background:$color_4;
}
/* ----------------
  Other Pages
=====================
---------------------*/
/* --------------
  Games Page
-----------------*/
/* ------------------
  Game single Page
---------------------*/
/* ----------------
  Review section
---------------------*/
/* ------------------
	Blog Page
---------------------*/
/* ----------------
  Contact page
---------------------*/
/* ----------------
  Responsive
---------------------*/
/* Medium screen : 992px. */
/* Tablet :768px. */
/* Large Mobile :480px. */
/* Small Mobile :320px. */
html {
	height: 100%;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
body {
	height: 100%;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
h1 {
	margin: 0;
	color: $color_1;
	font-weight: 500;
	font-size: 70px;
}
h2 {
	margin: 0;
	color: $color_1;
	font-weight: 500;
	font-size: 36px;
}
h3 {
	margin: 0;
	color: $color_1;
	font-weight: 500;
	font-size: 30px;
}
h4 {
	margin: 0;
	color: $color_1;
	font-weight: 500;
	font-size: 24px;
}
h5 {
	margin: 0;
	color: $color_1;
	font-weight: 500;
	font-size: 18px;
}
h6 {
	margin: 0;
	color: $color_1;
	font-weight: 500;
	font-size: 16px;
}
p {
	font-size: 15px;
	color: $color_2;
	line-height: 1.6;
	font-weight: 500;
}
img {
	max-width: 100%;
}
input {
	&:focus {
		outline: none;
	}
}
select {
	&:focus {
		outline: none;
	}
}
button {
	&:focus {
		outline: none;
	}
}
textarea {
	&:focus {
		outline: none;
	}
}
a {
	&:hover {
		text-decoration: none;
		outline: none;
	}
	&:focus {
		text-decoration: none;
		outline: none;
	}
}
ul {
	padding: 0;
	margin: 0;
}
ol {
	padding: 0;
	margin: 0;
}

.section-title {
	h2 {
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 700;
		font-style: italic;
	}
}
.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.spad {
	padding-top: 105px;
	padding-bottom: 105px;
}
.text-white {
	h1 {
		color: $color_3;
	}
	h2 {
		color: $color_3;
	}
	h3 {
		color: $color_3;
	}
	h4 {
		color: $color_3;
	}
	h5 {
		color: $color_3;
	}
	h6 {
		color: $color_3;
	}
	p {
		color: $color_3;
	}
	span {
		color: $color_3;
	}
	li {
		color: $color_3;
	}
	a {
		color: $color_3;
	}
}
.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 700;
	font-style: italic;
	min-width: 186px;
	padding: 24px 30px;
	border-radius: 0;
	text-transform: uppercase;
	color: $color_4;
	line-height: normal;
	cursor: pointer;
	text-align: center;
	background: #fff;
	position: relative;
	z-index: 1;
	img {
		position: relative;
		left: 13px;
		width: auto !important;
		display: inline-block !important;
	}
	&:after {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		left: 9px;
		top: 10px;
		background: #b01ba5;
		z-index: -2;
		-webkit-box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
		box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
	}
	&:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		left: 9px;
		top: 10px;
		background: #b01ba5;
		z-index: -2;
		-webkit-box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
		box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
		left: 0;
		top: 0;
		background: #fff;
		z-index: -1;
	}
	&:hover {
		color: $color_4;
	}
}
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}
.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}
.header-section {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	padding: 15px 15px 0;
}
.header-warp {
	max-width: 1496px;
	margin: 0 auto;
}
.header-social {
	p {
		display: inline-block;
		color: $color_5;
		font-size: 16px;
		padding-top: 4px;
	}
	a {
		display: -ms-inline-flex;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		width: 32px;
		height: 32px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		border-radius: 50%;
		color: $color_3;
		font-size: 12px;
		margin-left: 13px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		&:hover {
			background: #b01ba5;
		}
	}
}
.footer-social {
	p {
		display: inline-block;
		color: $color_5;
		font-size: 16px;
		padding-top: 4px;
	}
	a {
		display: -ms-inline-flex;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		width: 32px;
		height: 32px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		border-radius: 50%;
		color: $color_3;
		font-size: 12px;
		margin-left: 13px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		&:hover {
			background: #b01ba5;
		}
		&:first-child {
			margin-left: 0;
		}
	}
	padding-top: 20px;
	padding-bottom: 40px;
}
.geme-social-share {
	p {
		display: inline-block;
		color: $color_5;
		font-size: 16px;
		padding-top: 4px;
	}
	a {
		display: -ms-inline-flex;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		width: 32px;
		height: 32px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		border-radius: 50%;
		color: $color_3;
		font-size: 12px;
		margin-left: 13px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		&:hover {
			background: #b01ba5;
		}
	}
}
.header-bar-warp {
	background: #081624;
	padding: 39px 40px 0;
	-webkit-box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
	box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
}
.site-logo {
	float: left;
}
.user-panel {
	float: right;
	font-size: 16px;
	font-weight: 500;
	color: $color_3;
	padding-top: 3px;
	a {
		color: $color_3;
		&:hover {
			color: $color_6;
		}
	}
}
.main-menu {
	list-style: none;
	text-align: center;
	padding-top: 3px;
	li {
		display: inline-block;
		position: relative;
		a {
			display: block;
			font-size: 16px;
			font-weight: 500;
			color: $color_3;
			margin-right: 40px;
			padding-bottom: 28px;
			position: relative;
			padding-right: 20px;
			&:after {
				position: absolute;
				content: "";
				width: 20px;
				height: 20px;
				right: 0;
				top: 1px;
				background-image: url("../img/icons/arrow-down.png");
				background-repeat: no-repeat;
				background-position: right center;
			}
			i {
				color: $color_7;
				margin-left: 5px;
			}
			&:hover {
				color: $color_6;
				&:after {
					background-image: url("../img/icons/arrow-down-color.png");
				}
				i {
					color: $color_6;
				}
			}
		}
		&:hover {
			.sub-menu {
				visibility: visible;
				opacity: 1;
				margin-top: 0;
			}
			>a {
				color: $color_6;
				&:after {
					background-image: url("../img/icons/arrow-down-color.png");
				}
			}
		}
		.sub-menu {
			position: absolute;
			list-style: none;
			text-align: left;
			width: 220px;
			left: 0;
			top: 100%;
			padding: 20px 0;
			visibility: hidden;
			opacity: 0;
			margin-top: 50px;
			background: #fff;
			z-index: 99;
			-webkit-transition: all 0.4s;
			-o-transition: all 0.4s;
			transition: all 0.4s;
			-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.4);
			box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.4);
			li {
				display: block;
				a {
					display: block;
					color: $color_8;
					margin-right: 0;
					padding: 8px 30px;
					&:after {
						display: none;
					}
					&:hover {
						color: $color_6;
					}
				}
			}
		}
	}
}
.slicknav_menu {
	display: none;
}
.hero-slider {
	.owl-dots {
		display: -ms-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		z-index: 2;
		left: calc(50% - 740px);
		bottom: 38px;
		position: relative;
		width: 1496px;
		position: absolute;
		.owl-dot {
			width: 44px;
			height: 44px;
			border-radius: 50%;
			font-size: 16px;
			font-weight: 500;
			border: 2px solid transparent;
			color: $color_3;
			display: -ms-inline-flex;
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
		.owl-dot.active {
			color: $color_6;
			border: 2px solid #b01ba5;
		}
	}
	.owl-nav {
		margin-top: -24px;
		display: block;
		.owl-next {
			position: absolute;
			top: 50%;
			right: 100px;
		}
	}
	.owl-item.active {
		.hero-item {
			h2 {
				top: 0;
				opacity: 1;
				-webkit-transition: all 0.5s ease 0.4s;
				-o-transition: all 0.5s ease 0.4s;
				transition: all 0.5s ease 0.4s;
			}
			p {
				top: 0;
				opacity: 1;
				-webkit-transition: all 0.5s ease 0.6s;
				-o-transition: all 0.5s ease 0.6s;
				transition: all 0.5s ease 0.6s;
			}
			.site-btn {
				top: 0;
				opacity: 1;
				-webkit-transition: all 0.5s ease 0.8s;
				-webkit-transition: all 0.5s ease 0.8s;
				-o-transition: all 0.5s ease 0.8s;
				transition: all 0.5s ease 0.8s;
			}
			.offer-card {
				opacity: 1;
				-webkit-transform: rotate(0deg);
				-ms-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: all 0.5s ease 1s;
				-webkit-transition: all 0.5s ease 1s;
				-o-transition: all 0.5s ease 1s;
				transition: all 0.5s ease 1s;
			}
		}
	}
}
.hero-item {
	height: 921px;
	padding-top: 125px;
	border-bottom: 2px solid #b01ba5;
	h2 {
		font-size: 160px;
		color: $color_3;
		font-weight: 500;
		line-height: 1;
		position: relative;
		top: 100px;
		opacity: 0;
	}
	p {
		font-size: 24px;
		color: $color_9;
		font-weight: 500;
		opacity: 0.39;
		margin-bottom: 70px;
		position: relative;
		top: 80px;
		opacity: 0;
	}
	.site-btn {
		position: relative;
		top: 50px;
		opacity: 0;
	}
}
.intro-section {
	background: #0c062e;
	padding: 115px 0;
}
.text-box {
	.top-meta {
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 20px;
		a {
			color: $color_6;
		}
	}
	h3 {
		margin-bottom: 40px;
		max-width: 370px;
	}
	p {
		font-size: 15px;
		font-weight: 500;
		color: $color_10;
		margin-bottom: 35px;
	}
	.read-more {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;
		font-style: italic;
		color: $color_3;
		img {
			margin-left: 13px;
		}
	}
}
.blog-section {
	background: #501755;
	background: -webkit-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: -o-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#501755', endColorstr='#2d1854', GradientType=1);
	.section-title {
		margin-bottom: 25px;
	}
}
.blog-filter {
	list-style: none;
	display: block;
	li {
		display: inline-block;
		a {
			display: block;
			color: $color_3;
			padding: 16px 36px;
			font-size: 16px;
			font-weight: 700;
			background: #6f2b95;
			line-height: 1.1;
			margin-right: 7px;
			-webkit-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
			margin-bottom: 10px;
			&:hover {
				background: #b01ba5;
			}
		}
	}
}
.blog-item {
	margin-top: 86px;
	.blog-thumb {
		width: 362px;
		float: left;
		margin-right: 30px;
	}
	.text-box {
		overflow: hidden;
		p {
			margin-bottom: 42px;
		}
	}
}
.widget-item {
	margin-bottom: 85px;
	&:last-child {
		margin-bottom: 0;
	}
	.widget-title {
		color: $color_3;
		text-transform: uppercase;
		font-weight: 700;
		font-style: italic;
		padding-left: 38px;
		margin-bottom: 48px;
	}
}
.trending-widget {
	.tw-item {
		margin-bottom: 38px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.tw-thumb {
		float: left;
		margin-right: 17px;
		overflow: hidden;
	}
	.tw-text {
		.tw-meta {
			color: $color_10;
			font-size: 12px;
			font-weight: 500;
			margin-bottom: 7px;
			a {
				color: $color_6;
			}
		}
		h5 {
			font-size: 18px;
			color: $color_3;
			line-height: 1.5;
		}
	}
}
.categories-widget {
	background: #34164b;
	padding: 55px 0 25px;
	ul {
		list-style: none;
		padding: 0 38px;
		li {
			display: block;
			a {
				display: inline-block;
				position: relative;
				font-size: 16px;
				color: $color_10;
				font-weight: 500;
				margin-bottom: 15px;
				padding-right: 19px;
				-webkit-transition: all 0.2s;
				-o-transition: all 0.2s;
				transition: all 0.2s;
				background-image: url("../img/icons/double-arrow.png");
				background-repeat: no-repeat;
				background-position: right -120% center;
				background-size: 11px;
				&:hover {
					color: $color_6;
					background-position: right center;
				}
			}
		}
	}
}
.search-widget {
	position: relative;
	input {
		width: 100%;
		height: 40px;
		border: none;
		border-bottom: 2px solid #72628b;
		background: none;
		padding-right: 60px;
		color: $color_3;
	}
	button {
		position: absolute;
		right: 0;
		top: 0;
		color: $color_6;
		font-weight: 700;
		font-size: 14px;
		font-style: italic;
		cursor: pointer;
		background: none;
		border: none;
		text-transform: uppercase;
	}
}
.latest-comments {
	.lc-item {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
		.lc-avatar {
			width: 64px;
			height: 64px;
			border-radius: 50%;
			float: left;
			margin-right: 12px;
		}
		.tw-text {
			padding-top: 10px;
			font-size: 16px;
			color: $color_3;
			font-weight: 500;
			a {
				color: $color_6;
			}
			span {
				color: $color_10;
			}
		}
	}
}
.intro-video-section {
	height: 757px;
	position: relative;
}
.video-play-btn {
	position: absolute;
	left: calc(50% - 61px);
	top: calc(50% - 61px);
	width: 122px;
	height: 122px;
	text-align: center;
	padding-top: 35px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.16);
}
.video-text {
	margin-bottom: 80px;
	padding: 27px 0;
	padding-left: 25px;
	position: relative;
	h2 {
		font-size: 48px;
		text-transform: uppercase;
		font-style: italic;
		font-weight: 700;
		color: $color_3;
		margin-bottom: 1px;
	}
	p {
		font-size: 18px;
		color: $color_11;
		font-weight: 500;
		margin-bottom: 0;
	}
	&:after {
		position: absolute;
		content: "";
		width: 9px;
		height: 100%;
		left: -22px;
		top: 0;
		border-left: 3px solid #de46d6;
		background: #fff;
		-webkit-box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.5);
		box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.5);
	}
}
.featured-section {
	position: relative;
	overflow: hidden;
}
.featured-bg {
	width: calc(50% - 156px);
	float: left;
	height: 100%;
	left: 0;
	right: 0;
	position: absolute;
}
.featured-box {
	float: right;
	width: calc(50% + 156px);
	background: #fff;
	padding: 100px 50px 130px 79px;
	.text-box {
		max-width: 810px;
		.top-meta {
			color: $color_10;
		}
		h3 {
			font-size: 60px;
			max-width: 100%;
		}
		p {
			font-size: 16px;
		}
		.read-more {
			color: $color_12;
		}
	}
}
.gradient-bg {
	background: #3e0f3d;
	background: -webkit-linear-gradient(left, #3e0f3d 0%, #1c0f3b 100%);
	background: -webkit-gradient(linear, left top, right top, from(#3e0f3d), to(#1c0f3b));
	background: -o-linear-gradient(left, #3e0f3d 0%, #1c0f3b 100%);
	background: linear-gradient(to right, #3e0f3d 0%, #1c0f3b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e0f3d', endColorstr='#1c0f3b', GradientType=1);
}
.newsletter-section {
	background: #3e0f3d;
	background: -webkit-linear-gradient(left, #3e0f3d 0%, #1c0f3b 100%);
	background: -webkit-gradient(linear, left top, right top, from(#3e0f3d), to(#1c0f3b));
	background: -o-linear-gradient(left, #3e0f3d 0%, #1c0f3b 100%);
	background: linear-gradient(to right, #3e0f3d 0%, #1c0f3b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e0f3d', endColorstr='#1c0f3b', GradientType=1);
	padding: 108px 0 95px;
	text-align: center;
	h2 {
		font-size: 48px;
		color: $color_3;
		font-weight: 700;
		font-style: italic;
		text-transform: uppercase;
		margin-bottom: 73px;
	}
}
.newsletter-form {
	padding-left: 56px;
	input {
		font-size: 14px;
		font-weight: 700;
		font-style: italic;
		color: $color_3;
		width: 787px;
		border: none;
		border-bottom: 2px solid #9b91a6;
		background: none;
		height: 63px;
		margin-right: 26px;
	}
}
.footer-section {
	text-align: center;
	background: #330d38;
	background: -webkit-linear-gradient(left, #330d38 0%, #190d36 100%);
	background: -webkit-gradient(linear, left top, right top, from(#330d38), to(#190d36));
	background: -o-linear-gradient(left, #330d38 0%, #190d36 100%);
	background: linear-gradient(to right, #330d38 0%, #190d36 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#330d38', endColorstr='#190d36', GradientType=1);
	.container {
		position: relative;
		padding: 60px 15px 25px;
	}
}
.footer-left-pic {
	position: absolute;
	left: -13px;
	bottom: 19px;
}
.footer-right-pic {
	position: absolute;
	right: 50px;
	bottom: 19px;
}
.footer-menu {
	padding-top: 62px;
	li {
		&:last-child {
			a {
				margin-right: 0;
			}
		}
	}
}
.copyright {
	font-size: 12px;
	font-weight: 500;
	color: $color_5;
	opacity: 0.20;
	a {
		color: $color_5;
		&:hover {
			text-decoration: underline;
		}
	}
}
.page-top-section {
	height: 355px;
	padding-top: 210px;
}
.page-info {
	max-width: 1496px;
	margin: 0 auto;
	font-size: 16px;
	color: $color_3;
	padding-left: 60px;
	h2 {
		color: $color_3;
		font-size: 48px;
	}
}
.site-breadcrumb {
	a {
		font-style: italic;
		color: $color_3;
		margin: 0 10px;
		font-weight: 700;
		&:first-child {
			margin-left: 0;
		}
	}
	span {
		font-style: italic;
		color: $color_3;
		margin: 0 10px;
		font-weight: 700;
		color: $color_13;
	}
}
.games-section {
	padding: 108px 0;
    min-height: 900px;
	background: #3b7a97;
	background: -webkit-linear-gradient(45deg, #3b7a97 0%, #1f3253 100%);
	background: -o-linear-gradient(45deg, #3b7a97 0%, #1f3253 100%);
	background: linear-gradient(45deg, #3b7a97 0%, #1f3253 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b7a97', endColorstr='#1f3253', GradientType=1);
}
.game-filter {
	list-style: none;
	margin-bottom: 82px;
	li {
		display: inline-block;
		width: 40px;
		height: 34px;
		background: #503c6e;
		border-radius: 17px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		&:hover {
			background: #c313b7;
		}
		a {
			font-size: 15px;
			font-weight: 700;
			color: $color_3;
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;
			padding-top: 7px;
		}
	}
}
.game-item {
	margin-bottom: 80px;
	h5 {
		font-size: 20px;
		color: $color_3;
		padding-top: 30px;
		margin-bottom: 20px;
	}
	.read-more {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;
		font-style: italic;
		color: $color_6;
		img {
			margin-left: 13px;
		}
	}
    .game-image {
        border-radius: 25px;
        background:rgba(0,0,0,0.4);
        min-width: 220px;
        min-height: 155px;
    }
}
.site-pagination {
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	a {
		width: 38px;
		height: 44px;
		border-radius: 50%;
		font-size: 16px;
		font-weight: 500;
		border: 2px solid transparent;
		color: $color_3;
		display: -ms-inline-flex;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	a.active {
		width: 44px;
		margin: 0 10px;
		color: $color_6;
		border: 2px solid #b01ba5;
		&:first-child {
			margin-left: 0;
		}
	}
}
.game-page-sideber {
	.widget-item {
		margin-bottom: 55px;
	}
}
.games-single-page {
	padding: 104px 0;
	background: #3b7a97;
	background: -webkit-linear-gradient(45deg, #3b7a97 0%, #1f3253 100%);
	background: -o-linear-gradient(45deg, #3b7a97 0%, #1f3253 100%);
	background: linear-gradient(45deg, #3b7a97 0%, #1f3253 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b7a97', endColorstr='#1f3253', GradientType=1);
}
.review-section {
	padding: 104px 0;
	background: #501755;
	background: -webkit-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: -o-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#501755', endColorstr='#2d1854', GradientType=1);
}
.blog-page {
	padding: 104px 0;
	background: #501755;
	background: -webkit-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: -o-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#501755', endColorstr='#2d1854', GradientType=1);
	.blog-filter {
		margin-bottom: 77px;
	}
}
.contact-page {
	padding: 104px 0;
	background: #501755;
	background: -webkit-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: -o-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#501755', endColorstr='#2d1854', GradientType=1);
}
.game-single-preview {
	margin-bottom: 108px;
}
.game-single-content {
	.gs-meta {
		font-size: 18px;
		color: $color_2;
		font-weight: 500;
		margin-bottom: 20px;
		a {
			color: $color_6;
		}
	}
	.gs-title {
		font-size: 60px;
		color: $color_3;
		margin-bottom: 40px;
	}
	h4 {
		color: $color_6;
		margin-bottom: 20px;
	}
	p {
		font-size: 16px;
		font-weight: 500;
		color: $color_2;
		line-height: 1.8;
		margin-bottom: 70px;
	}
}
.rating-widget {
	background: #34164b;
	padding: 55px 0 30px;
	ul {
		list-style: none;
		padding: 0 38px;
		margin-bottom: 30px;
		li {
			display: block;
			font-size: 16px;
			color: $color_6;
			font-weight: 500;
			margin-bottom: 10px;
			span {
				float: right;
				color: $color_10;
			}
		}
	}
	h5 {
		text-align: right;
		font-size: 36px;
		color: $color_3;
		font-weight: 900;
		padding-right: 38px;
		i {
			font-weight: 500;
			font-size: 16px;
			font-style: italic;
			color: $color_14;
			text-transform: uppercase;
			margin-right: 18px;
		}
		span {
			color: $color_6;
		}
	}
}
.testimonials-widget {
	background: #34164b;
	padding: 55px 0 50px;
	.testim-text {
		padding: 0 30px;
		p {
			font-size: 16px;
			font-weight: 500;
			color: $color_10;
			line-height: 1.8;
			margin-bottom: 40px;
		}
		h6 {
			color: $color_10;
			padding-left: 15px;
			span {
				color: $color_6;
			}
		}
	}
}
.game-author-section {
	background: #3a1854;
	padding: 51px 0;
	overflow: hidden;
}
.game-author-pic {
	width: 117px;
	height: 117px;
	border-radius: 50%;
	float: left;
	margin-right: 55px;
}
.game-author-info {
	overflow: hidden;
	padding-top: 10px;
	h4 {
		color: $color_3;
		margin-bottom: 20px;
		span {
			color: $color_6;
		}
	}
	p {
		font-size: 16px;
		font-weight: 500;
		color: $color_10;
		line-height: 1.8;
		margin-bottom: 0;
	}
}
.review-item {
	margin-bottom: 87px;
}
.review-content {
	position: relative;
	h3 {
		max-width: 100%;
		margin-bottom: 35px;
	}
	p {
		margin-bottom: 40px;
	}
	.rating {
		position: absolute;
		right: 0;
		top: 0;
		h5 {
			text-align: right;
			font-size: 36px;
			color: $color_3;
			font-weight: 900;
			padding-right: 38px;
			i {
				font-weight: 500;
				font-size: 16px;
				font-style: italic;
				color: $color_14;
				text-transform: uppercase;
				margin-right: 18px;
			}
			span {
				color: $color_13;
			}
		}
	}
}
.big-blog-item {
	margin-bottom: 65px;
	.blog-thumbnail {
		margin-bottom: 30px;
	}
	.blog-content {
		.top-meta {
			margin-bottom: 15px;
		}
		h3 {
			max-width: 100%;
			margin-bottom: 25px;
		}
		p {
			margin-bottom: 10px;
		}
	}
}
.map {
	iframe {
		width: 100%;
		height: 600px;
		margin-bottom: 104px;
	}
}
.contact-form {
	input {
		width: 100%;
		border: none;
		background-color: $background-color_1;
		border-bottom: 2px solid rgba(255, 255, 255, 0.54);
		padding-bottom: 20px;
		margin-bottom: 30px;
		font-weight: 500;
		font-size: 16px;
		font-style: italic;
		color: $color_3;
		line-height: 1;
	}
	textarea {
		width: 100%;
		border: none;
		background-color: $background-color_1;
		border-bottom: 2px solid rgba(255, 255, 255, 0.54);
		padding-bottom: 20px;
		margin-bottom: 30px;
		font-weight: 500;
		font-size: 16px;
		font-style: italic;
		color: $color_3;
		line-height: 1;
		line-height: 1.4;
		height: 156px;
		margin-bottom: 48px;
	}
	.site-btn {
		img {
			left: 5px;
		}
	}
}
.contact-text {
	h3 {
		margin-bottom: 25px;
	}
	p {
		line-height: 1.9;
		color: $color_10;
		margin-bottom: 50px;
	}
}
.cont-info {
	overflow: hidden;
	margin-bottom: 20px;
	.ci-icon {
		float: left;
		width: 32px;
		margin-right: 26px;
	}
	.ci-text {
		overflow: hidden;
		font-size: 16px;
		font-weight: 500;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1175px;
	}
}
@media (max-width: 1530px) {
	.hero-slider {
		.owl-dots {
			width: 1170px;
			left: calc(50% - 585px);
		}
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.blog-item {
		.blog-thumb {
			width: 250px;
		}
	}
	.hero-item {
		p {
			font-size: 22px;
		}
	}
	.hero-slider {
		.owl-nav {
			.owl-next {
				right: 30px;
			}
		}
		.owl-dots {
			width: 930px;
			left: calc(50% - 465px);
		}
	}
	.newsletter-form {
		padding-left: 0;
		input {
			width: 100%;
			margin-right: 0;
			margin-bottom: 40px;
		}
	}
	.game-filter {
		li {
			width: 31px;
			height: 31px;
			a {
				padding-top: 5px;
			}
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-bar-warp {
		padding: 39px 15px 0;
	}
	.main-menu {
		li {
			a {
				margin-right: 10px;
			}
		}
	}
	.hero-item {
		h2 {
			font-size: 110px;
		}
		p {
			font-size: 16px;
			padding: 0 30px;
		}
	}
	.hero-slider {
		.owl-nav {
			.owl-next {
				right: 0;
			}
		}
		.owl-dots {
			width: 690px;
			left: calc(50% - 345px);
		}
	}
	.blog-item {
		.blog-thumb {
			float: none;
			margin-right: 0;
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.featured-bg {
		display: none;
	}
	.featured-box {
		float: none;
		width: 100%;
	}
	.newsletter-form {
		input {
			width: 100%;
			margin-right: 0;
			margin-bottom: 40px;
		}
	}
	.footer-right-pic {
		right: 15px;
	}
	.footer-left-pic {
		left: -44px;
	}
	.game-filter {
		text-align: center;
		li {
			margin-bottom: 5px;
		}
	}
	.game-single-content {
		.gs-title {
			font-size: 40px;
		}
	}
	.review-pic {
		img {
			min-width: 100%;
			margin-bottom: 30px;
		}
	}
	.contact-text {
		margin-bottom: 50px;
	}
}
@media only screen and (max-width: 767px) {
	.header-bar-warp {
		padding: 25px 20px 10px;
	}
	.main-menu.primary-menu {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: #081624;
	}
	.slicknav_btn {
		margin-right: 10px;
		background: #3a3a3a;
	}
	.slicknav_nav {
		a {
			&:hover {
				background: #25394c;
				color: $color_3;
			}
		}
		.slicknav_row {
			&:hover {
				background: #25394c;
				color: $color_3;
			}
		}
	}
	.hero-item {
		h2 {
			font-size: 70px;
		}
		p {
			font-size: 18px;
		}
	}
	.footer-right-pic {
		display: none;
	}
	.footer-left-pic {
		display: none;
	}
	.hero-slider {
		.owl-nav {
			.owl-next {
				top: auto;
				bottom: 33px;
				right: 15px;
				z-index: 99;
			}
		}
		.owl-dots {
			width: 100%;
			left: 0;
			padding-left: 15px;
		}
	}
	.intro-text-box {
		margin-bottom: 40px;
	}
	.blog-item {
		.blog-thumb {
			float: none;
			margin-right: 0;
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.sidebar {
		padding-top: 60px;
	}
	.featured-bg {
		display: none;
	}
	.featured-box {
		float: none;
		width: 100%;
		.text-box {
			h3 {
				font-size: 45px;
			}
		}
	}
	.newsletter-form {
		padding-left: 0;
		input {
			width: 100%;
			margin-right: 0;
			margin-bottom: 40px;
		}
	}
	.video-text {
		&:after {
			left: 0;
		}
	}
	.page-top-section {
		height: 400px;
		padding-top: 250px;
	}
	.game-filter {
		text-align: center;
		li {
			margin-bottom: 5px;
		}
	}
	.game-single-content {
		.gs-title {
			font-size: 40px;
		}
	}
	.review-pic {
		img {
			min-width: 100%;
			margin-bottom: 30px;
		}
	}
	.contact-text {
		margin-bottom: 50px;
	}
	.review-content {
		.rating {
			position: relative;
			margin-bottom: 20px;
			h5 {
				text-align: left;
				padding-right: 0;
			}
		}
	}
}
@media only screen and (max-width: 479px) {
	.hero-item {
		h2 {
			font-size: 55px;
			margin-bottom: 20px;
		}
		p {
			font-size: 15px;
		}
	}
	.video-text {
		h2 {
			font-size: 30px;
		}
	}
	.video-play-btn {
		top: calc(30% - 61px);
	}
	.featured-box {
		padding: 100px 15px;
		.text-box {
			h3 {
				font-size: 35px;
			}
		}
	}
	.newsletter-section {
		h2 {
			font-size: 35px;
		}
	}
	.main-menu {
		li {
			a {
				margin-right: 20px;
			}
		}
	}
	.game-author-pic {
		float: none;
		margin-bottom: 20px;
	}
}

